@charset "UTF-8"
{
    font-family: arial,helvetica,sans-serif ;
    height: 100%;
}

body{
    background-image: linear-gradient(to right,#91723C,#DEBF87);
}

main{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(116, 93, 51, 0.418);
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#4A6B91 ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(37, 53, 71, 0.527) ;
}
h2{
    color:#89B1DF;
}
p{
    text-align: justify;
}